asgiref==3.2.3
# astroid==2.3.3
autopep8==1.4.4
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
Django==2.2.8
geolocation-python==0.2.2
idna==2.8
isort==4.3.21
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==6.2.1
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
timeago==1.0.10
typed-ast==1.4.0
urllib3==1.25.7
wrapt==1.11.2
