<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's Skate!</title>
  {% load static %}	
  <link rel="shortcut icon" href="{% static 'skate_spots_app/img/favicon.ico' type='image/x-icon' %}">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="bg-dark text-white">
    <div class="container">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  
   <nav class="navbar navbar-expand navbar-dark rounded bg-primary">
    <a class="navbar-brand" >Hello {{ user.first_name }}!</a>
    <div class="collapse navbar-collapse order-0 dual-collapse2" id="navbarSupportedContent">
      
      <span class="navbar-text text-white font-weight-bold mr-auto"></span>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <!-- change to add route -->
            <a class="nav-link" href="/spot">Add A Spot</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/wall">Message Board</a>
            </li>
          <li class="nav-item active">
              <a class="nav-link" href="/profile/{{user.id}}">Profile</a>
            </li>

      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      
    </ul>

      <section class="text-danger text-center">
        {% if messages %}
        <ul class="list-unstyled d-inline-block">
          {% for message in messages %}
          <li class="text-left">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </section>

      

    </div>
   </nav>

 
   <div style="background-color: transparent"  class="card text-white">
    <div class="card-body text-center">
      <span class="logo_title mt-5 text-primary h3">EditSpot</span>
      <form action="/edit_spot/{{ spot.id}}" method="post">
        {% csrf_token %}
        <div class="input-group form-group mt-2">
            <div style="background-color: black" class="d-block p-2 text-white">
                <span  ">Spot Name:</span>
              </div> 
          <input type="text" name="name" class="form-control" placeholder="{{ spot.name }}">
        </div>
        
        <div class="input-group form-group">
            <div style="background-color: black" class="d-block p-2 text-white">
                <span class="mx-2">Image of Spot:</span>
              </div> 
          <input class="mx-2" type="file"
          id="photo" name="photo"
          accept="image/png, image/jpeg">
        </div>
        <div class="input-group form-group">
            <div style="background-color: black" class="d-block p-2 text-white">
              <span  ">Latitude:</span>
            </div> 
             <input type="text" name="lat" class="form-control rounded" placeholder="{{ spot.lat }}">
         </div>
         <div class="input-group form-group">
          <div style="background-color: black" class="d-block p-2 text-white">
            <span  ">Longitude:</span>
          </div> 
           <input type="text" name="long" class="form-control rounded" placeholder="{{ spot.long }}">
       </div>
         <div class="input-group form-group">
            <div style="background-color: black" class="d-block p-2 text-white">
              <span  ">Spot Type:</span>
            </div> 
             <input type="text" name="kind" class="form-control rounded" placeholder="{{ spot.kind }}">
         </div>

        <div class="form-group">
          <a class="btn btn-outline-primary float-left mx-2" href="/home">Cancel</a>
          <input type="submit" name="btn" value="Edit" class="btn btn-outline-primary float-left login_btn">
        </div>

      </form>
    </div>
  </div>

</div>
</body>
</html>